<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline{
    agent any

    environment {
      NAME=&apos;riaco&apos;
      LASTNAME=&apos;kim&apos;
    }
    stages {
      stage(&apos;Build&apos;) {
        steps {
          sh &apos;echo &quot;My first pipeline&quot;&apos;
          sh &apos;&apos;&apos;
            echo &quot;By the way, I can do more stuff in here&quot;
            ls -lah
          &apos;&apos;&apos;
        }
        steps {

          sh &apos;echo $NAME $LASTNAME&apos;
          // retry(3) {
          //   sh &apos;I am not going to work :c&apos;
          // }

          // timeout(time: 3, unit: &apos;SECONDS&apos;) {
          //   sh &apos;sleep 5&apos;
          // }
        }
      }
    }
    
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>